// Fonts
$primaryFont: 'Museo 300', sans-serif;
$boldFont: 'Museo 700';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 16px;
$baseFontColor: #211e1e;

// Colours
$primary: #211e1e;
$secondary: #0056a6;
$tertiary: #3c87c9;
$quarternary: #064882;

$lightgrey: #f1f5f7;
$white: #FFFFFE; 
$text: $baseFontColor;
$border: darken($lightgrey, 5%);
